# Author: Kota Miura
Plugins>EMBLtools>Mayumi, "Dot Detect 3D...", de.embl.cmci.pt3d.Dot_Detector_3D
Plugins>EMBLtools>Mayumi, "-", de.embl.cmci.plugins.Dot_TestScan
Plugins>EMBLtools>Mayumi, "Dev: Object3D Scan Test", de.embl.cmci.plugins.Dot_TestScan
Plugins>EMBLtools>Mayumi, "Dev: Scan Settings", de.embl.cmci.plugins.ParaSetter_
